{% extends 'blog/base.html' %}
{% block body %}
{% load static %}
{% load crispy_forms_tags %}

{% load mptt_tags %}

    <div class="container">
      <div class="row">
        <!-- Latest Posts -->
        <main class="post blog-post col-lg-8"> 
          <div class="container">
            <div class="post-single">
              <div class="post-thumbnail"><img src="{% static 'img/blog-post-3.jpeg' %}" alt="..." class="img-fluid"></div>
              <div class="post-details">
                <div class="post-meta d-flex justify-content-between">

                  <div class="category">
                    {% for cat in object.cat.all %}
                    <a href="#">{{ cat.name }}</a>
                    {% endfor %}
                  </div>
                </div>
                <h1>{{ object.title }}<a href="{{ object.get_absolute_save_post_url }}"><i class="fa fa-bookmark-o"></i></a></h1>
                {% if request.user == author %}
                <a href="{% url 'update_post' object.id %}" class="btn btn-outline-info">Edit</a>
                <a href="{% url 'delete_post' object.id %}" class="btn btn-outline-danger">Delete</a>
                <br>
                {% endif %}
                <br>
                <div>
                  <a href="{% url 'like' object.id %}" class="btn btn-outline-info {{ is_like }}">Like</a>
                  <a href="{% url 'dislike' object.id %}" class="btn btn-outline-danger {{ is_dislike }}">Dislike</a>
                </div>
                <div class="post-footer d-flex align-items-center flex-column flex-sm-row"><a href="#" class="author d-flex align-items-center flex-wrap">
                    <div class="avatar"><img src="{% static 'img/avatar-1.jpg' %}" alt="..." class="img-fluid"></div>
                    <div class="title"><span>{{ object.author.user.username }}</span></div></a>
                  <div class="d-flex align-items-center flex-wrap">       
                    <div class="date"><i class="icon-clock"></i> 2 months ago</div>
                    <div class="views"><i class="icon-eye"></i> 500</div>
                    <div class="comments meta-last"><i class="icon-comment"></i>12</div>
                  </div>
                </div>
                <div class="post-body">
                  <p class="lead">{{ object.content }}</p>
                  <p>{{ object.content }}</p>
                  <p> <img src="{% static 'img/featured-pic-3.jpeg' %}" alt="..." class="img-fluid"></p>
                  {% for img in images %}
                  <p> <img src="{{ img.image.url }}" alt="..." class="img-fluid"></p>
                  {% empty %}
                  <h2>NO Images</h2>
                  {% endfor %}
                  <h3>Lorem Ipsum Dolor</h3>
                  <p>{{ object.content }}</p>
                  <blockquote class="blockquote">
                    <p>{{ object.content }}</p>
                    <footer class="blockquote-footer">Someone famous in
                      <cite title="Source Title">Source Title</cite>
                    </footer>
                  </blockquote>
                </div>
                <div class="post-tags">
                  {% for tag in object.tag.all %}
                  <a href="#" class="tag">#{{ tag.name }}</a>
                  {% endfor %}
                </div>
                <div class="posts-nav d-flex justify-content-between align-items-stretch flex-column flex-md-row"><a href="#" class="prev-post text-left d-flex align-items-center">
                    <div class="icon prev"><i class="fa fa-angle-left"></i></div>
                    <div class="text"><strong class="text-primary">Previous Post </strong>
                      <h6>I Bought a Wedding Dress.</h6>
                    </div></a><a href="#" class="next-post text-right d-flex align-items-center justify-content-end">
                    <div class="text"><strong class="text-primary">Next Post </strong>
                      <h6>I Bought a Wedding Dress.</h6>
                    </div>
                    <div class="icon next"><i class="fa fa-angle-right">   </i></div></a></div>


                <div class="post-comments">
                  <header>
                    <h3 class="h6">Post Comments<span class="no-of-comments">( {{ comments.count }} )</span></h3>
                  </header>
                  {% recursetree comments %}
                  <div class="comment">
                    <div class="comment-header d-flex justify-content-between">
                      <div class="user d-flex align-items-center">
                        <div class="image"><img src="{% static 'img/user.svg' %}" alt="..." class="img-fluid rounded-circle"></div>
                        <div class="title"><strong>{{ node.name }}</strong><span class="date">May 2016 level[{{ node.level }}]</span></div>
                      </div>
                    </div>
                    <div class="comment-body">
                      <p id="{{ node.id }}">{{ node.content }}</p>
                    </div>
                      {% if node.level < 6 %}
                         <a class="btn btn-outline-info" onclick="myFunction({{ node.id }})">Reply</a>
                      {% endif %}
                  </div>
                    {% if not node.is_leaf_node %}
                      <div class="children pl-2 pl-md-5">
                        {{ children }}
                      </div>
                    {% endif %}
                  {% endrecursetree %}
                  {% comment %}
                  <div class="comment">
                    <div class="comment-header d-flex justify-content-between">
                      <div class="user d-flex align-items-center">
                        <div class="image"><img src="img/user.svg" alt="..." class="img-fluid rounded-circle"></div>
                        <div class="title"><strong>Nikolas</strong><span class="date">May 2016</span></div>
                      </div>
                    </div>
                    <div class="comment-body">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                  </div>
                  <div class="comment">
                    <div class="comment-header d-flex justify-content-between">
                      <div class="user d-flex align-items-center">
                        <div class="image"><img src="img/user.svg" alt="..." class="img-fluid rounded-circle"></div>
                        <div class="title"><strong>John Doe</strong><span class="date">May 2016</span></div>
                      </div>
                    </div>
                    <div class="comment-body">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                  </div>
                  {% endcomment %}
                </div>
                <div class="add-comment">
                  <header>
                    <h3 class="h6">Leave a reply</h3>
                  </header>
                  <form method="POST">
                      {% csrf_token %}
                      <fieldset class="form-group">
                          <legend class="'border-bottom mb-4">Comment  Form </legend>
                         {{ comment_form | crispy  }}
                      </fieldset>
                      <div class="form-group">
                          <button class="btn btn-outline-info" type="submit">Send</button>
                      </div>
                  </form>
                  {% comment %}
                  <form action="#" class="commenting-form">
                    <div class="row">
                      <div class="form-group col-md-6">
                        <input type="text" name="username" id="username" placeholder="Name" class="form-control">
                      </div>
                      <div class="form-group col-md-6">
                        <input type="email" name="username" id="useremail" placeholder="Email Address (will not be published)" class="form-control">
                      </div>
                      <div class="form-group col-md-12">
                        <textarea name="usercomment" id="usercomment" placeholder="Type your comment" class="form-control"></textarea>
                      </div>
                      <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-secondary">Submit Comment</button>
                      </div>
                    </div>
                  </form>
                  {% endcomment %}
                </div>
              </div>
            </div>
          </div>
        </main>
        {% include 'blog/aside.html' %}
      </div>
    </div>
    <!-- Page Footer-->


    <!-- JavaScript files-->
<script>
        function formExit() {
            document.getElementById("newForm").remove();
        }
        function myFunction(id) {
           if (document.contains(document.getElementById("newForm"))) {
             document.getElementById("newForm").remove();
           }
             var d1 = document.getElementById(id);
             d1.insertAdjacentHTML('afterend',
                  '<form id="newForm" class="form-insert py-2" method="post"> \
                        <div class="d-flex justify-content-between"><h2>Reply:</h2><div><button type="button" class="btn btn-danger" onclick="formExit()"">Close</button></div></div> \
                        <label for="id_name">Name:</label> \
                        <input type="text" name="name" class="col-sm-12" maxlength="50" required="" id="id_name">\
                        <select name="parent" class="d-none" id="id_parentt"> \
                        <option value="' + id + '" selected="' + id + '"></option> \
                        </select> \
                        <label for="id_email">Email:</label> \
                        <input type="text" name="email" class="col-sm-12" maxlength="254" required="" id="id_email"> \
                        <label for="id_content">Content:</label> \
                        <textarea name="content" cols="40" rows="5" class="form-control" required id="id_content"></textarea> \
                        {% csrf_token %} \
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button> \
                  </form>');

            //document.querySelector('#id_parentt [value="' + id + '"]').selected = true;
        }
      $('#myForm').trigger("reset");
      </script>

{% endblock body %}
