{% extends 'blog/base.html'%}


  {% block body %}
{% load crispy_forms_tags %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container">
        <div class="col-lg-8 col-md-6">
            <fieldset class="form-group">
                <legend class="'border-bottom mb-4">Update Post</legend>
                {{ form | crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Save</button>
            </div>
            <a href="{% url 'add_image' post.id %}" class="btn btn-outline-info">Add Images</a>
        </div>
        <div>
            {% for obj in images %}
            <h2>{{ forloop.counter }}</h2>
            <img src="{{ obj.image.url }}" class="img-fluid">
            {% endfor %}
        </div>
    </div>
</form>

{% endblock %}